<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-2 list-container">
          <app-country-list></app-country-list>
        </div>
        <div class="col-md-10 col-sm-10">
          <div class="row">
            <div class="col-md-12 col-sm-12" style="padding: 0px">
              <p class="welcome">Let's help our covid warriors! Stay home, stay safe!</p>
              <app-world-count></app-world-count>
            </div>
            <div class="col-md-12 col-sm-12" style="padding: 0px">
                <app-country-count ></app-country-count>
                <p class="my-footer">Created with care by
                  <a
                    target="new"
                    href="https://www.linkedin.com/in/aditya-pachpor-092835139/">
                    Aditya Pachpor
                  </a>
                </p>
            </div>
          </div>
        </div>
      </div>
</div>
