<div *ngIf="globalData" class="global">
  <h1>World Dashboard</h1>
  <div class="row">
    <div class="col-xs-1">
      <label>Total Cases</label>
      <span>{{globalData.total_cases  | number: '2.'}}</span>
    </div>
    <div class="col-xs-1">
      <label>Total Recovered</label>
      <span>{{globalData.total_recovered | number: '2.'}}</span>
    </div>
    <div class="col-xs-1">
      <label>Total Deaths</label>
      <span>{{globalData.total_deaths | number: '2.'}}</span>
    </div>
    <div class="col-xs-1">
      <label>New Cases Today</label>
      <span>{{globalData.total_new_cases_today | number: '2.'}}</span>
    </div>
    <div class="col-xs-1">
      <label>New Deaths Today</label>
      <span>{{globalData.total_new_deaths_today | number: '2.'}}</span>
    </div>
    <div class="col-xs-1">
      <label>Total Active Cases</label>
      <span>{{globalData.total_active_cases | number: '2.'}}</span>
    </div>
    <div class="col-xs-1">
      <label>Total Serious Cases</label>
      <span>{{globalData.total_serious_cases | number: '2.'}}</span>
    </div>
  </div>
</div>
